/*Tudo*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #323232;
   border: none;
   font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

Body {
   background-color: #7C8046;
}

textarea:focus,
input:focus {
   outline: none;
}

/*NAVBAR*/

#navbar a {
   text-decoration: none;
   transition: 0.3s;
 }
 
 #navbar a:hover {
   opacity: 0.7;
 }
 
 img{
   height: 8vh;
 }
 
 nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: aliceblue;
   height: 8vh;
   border-bottom: #323232;
 }
 
 .nav-list {
   list-style: none;
   display: flex;
 }
 
 .nav-list li {
   letter-spacing: 3px;
   margin-left: 32px;
 }
 
 .mobile-menu {
   display: none;
   cursor: pointer;
 }
 
 .mobile-menu div {
   width: 32px;
   height: 2px;
   background: #fff;
   margin: 8px;
   transition: 0.3s;
 }
 
 @media (max-width: 999px) {
   body {
     overflow-x: hidden;
   }
   .nav-list {
     position: absolute;
     top: 8vh;
     right: 0;
     width: 50vw;
     height: 92vh;
     background: aliceblue;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     transform: translateX(100%);
     transition: transform 0.3s ease-in;
   }
   .nav-list li {
     margin-left: 0;
     opacity: 0;
   }
   .mobile-menu {
     display: block;
   }
 }
 
 .nav-list.active {
   transform: translateX(0);
 }
 
 @keyframes navLinkFade {
   from {
     opacity: 0;
     transform: translateX(50px);
   }
   to {
     opacity: 1;
     transform: translateX(0);
   }
 }
 
 .mobile-menu.active .line1 {
   transform: rotate(-45deg) translate(-8px, 8px);
 }
 
 .mobile-menu.active .line2 {
   opacity: 0;
 }
 
 .mobile-menu.active .line3 {
   transform: rotate(45deg) translate(-5px, -7px);
 }

form {
   margin-top: 30px;
   margin-bottom: 40px;
}

label,
input {
   display: block;
   width: 100%;
   text-align: left;
}

label {
   font-weight: bold;
   font-size: .9rem;
}

input {
   border-bottom: 2px solid #323232;
   padding: 10px;
   font-size: 1rem;
   margin-bottom: 20px;
}

input:focus {
   border-bottom: 2px solid #44946c;
   transition: .5s;
}

input[type="submit"] {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   border: none;
   height: 40px;
   border-radius: 20px;
   margin-top: 30px;
   color: white;
   background-color: #1d6b44;
   cursor: pointer;
}

input[type="submit"]:hover {
   background-color: #043f29;
   transition: .5s;
}

/*Cadastro*/
#main-container {
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   background-color: aliceblue;
   border-radius: 10px;
   padding: 25px;
}

#main-container h1 {
   text-align: center;
   margin-bottom: 25px;
}

form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.full-box {
   flex: 1 1 100%;
   position: relative;
}

.half-box {
   flex: 1 1 45%;
   position: relative;
   margin-right: 2.5%;
}

#senhaconfirm {
   margin-top: 10%;
}

#aceitamento {
   margin-right: 5px;
}

#aceitamento,
#aceitamento-label {
   display: inline-block;
   width: auto;
}
