/*Tudo*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #323232;
    border: none;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

Body {
    background-color: #7C8046;
}

textarea:focus,
input:focus {
    outline: none;
}

/*Navbar*/
#navbar a {
    text-decoration: none;
    transition: 0.3s;
    font-weight: bolder;
}

#navbar a:hover {
    opacity: 0.7;
}

img {
    height: 8vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: aliceblue;
    height: 8vh;
    border-bottom: #323232;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.login-buton button {
    display: block;
    align-items: center;
    font-weight: bold;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #7C8046;
    letter-spacing: 1px;
    color: aliceblue;
    font-size: 18px;
}

.login-buton ul {
    list-style: none;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #323232;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: aliceblue;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*Mapa*/

.container-mapa {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: aliceblue;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
}

.mapa {
    margin-top: 4vh;
    display: flex;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.mapa iframe {
    margin-top: 3vh;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
}

/*Formulario*/

a {
    font-size: .9rem;
    background-color: aliceblue;
}

a:hover {
    color: #054775;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    font-weight: bold;
    font-size: .9rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #44946c;
    transition: .5s;
}


button a {
    align-items: center;
    font-weight: bold;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    letter-spacing: 1px;
    color: #E49052;
    font-size: 18px;
    text-decoration: none;
}

/*Rodape*/

footer {
    background-color: aliceblue;
    padding: 20px 0;
    margin-top: 15vh;
    height: 100px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-content a {
    margin-left: 10px;
    text-decoration: none;
    color: #555;
}

.footer-content a:hover {
    text-decoration: underline;
}