/*Tudo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #323232;
    border: none;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
 }
 
 Body {
    background-color: #7C8046;
 }
 
 
 
 /*NAVBAR*/
 
 #navbar a {
    text-decoration: none;
    transition: 0.3s;
  }
  
  #navbar a:hover {
    opacity: 0.7;
  }
  
  img{
    height: 8vh;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: aliceblue;
    height: 8vh;
    border-bottom: #323232;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: aliceblue;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
 /*DIV COLETA*/
 .coleta div {
 margin-top: 50%;
  background-color: bisque;
  height: 100%;
  width: 100%;
 }